nav {
    height: 75px;
    display: flex;
    float: right;
    justify-content: space-around;
}

.gallery {
    position: relative;
    max-width: 1500px;
    height: 500px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide1 {
    background-color: rgb(34, 146, 180);
    z-index: 6;
}

.slide2 {
    background-color: rgb(90, 180, 34);
    z-index: 5;
}

.slide3 {
    background-color: rgb(133, 61, 150);
    z-index: 4;
}

.slide4 {
    background-color: rgb(180, 34, 34);
    z-index: 3;
}