* {
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
}

nav {
    height: 75px;
    width: 100%;
    display: flex;
    float: right;
    justify-content: space-around;
    background-color: rgb(209, 255, 255);
}

section {
    width: 100%;
    height: 100vh;
}

.gallery {
    position: relative;
    max-width: 1500px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    font-size: 30px;
    text-align: center;
    transition: 5s;
}

.image-container {
    position: relative;
    display: inline-block;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    height: 400px;
    padding: 10px;
    margin: 40px;
    border: 3px solid white;
}

.slide1 {
    background-color: rgb(34, 146, 180);
    z-index: 6;
}

.slide2 {
    background-color: rgb(3, 27, 76);
    z-index: 5;
    left: 100%;
}

.galBtn {
    font-size: 70px;
    background-color: rgba(167, 167, 167, 0.407);
    color: rgb(0, 0, 0);
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.slide1 .move {
    right: 100%;
    opacity: 0.5;
}

.slide2 .move {
    left: 0;
}
