* {
    font-family: "Roboto", sans-serif;
    font-weight: 50px;
    margin: 0;
    color: white;
}

nav {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: all 0.5s;
}

.menuButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu {
    font-size: 70px;
    cursor: pointer;
    color: white;
}

.show {
    height: 75px;
    width: 950%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

nav ul li {
    list-style: none;
    cursor: pointer;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("images/wp9417490-4k-amazon-river-wallpapers.jpg");
    background-repeat: none;
    background-size: cover;
    color: white;
}

.welcome {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 5%;
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 20px;

}

main h1 {
    font-size: 70px;
}

.projectGrid {
    position: absolute;
    left: 55%;
    top: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.projectItem {
    width: 180px;
    height: 200px;
    border-radius: 20%;
    position: relative;
}

.projectItem h2 {
    padding: 30px;
}

.projectItem a {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-weight: bold;
}

.item1 {
    background-image: url("images/a917ac3724f85d3391fd4c1563d419ec.jpeg");
    background-position: cover;
}

.orange {
    color: orange;
    font-weight: bolder;
}