@keyframes slideUp {
    0% {
        top: 100%;
        opacity: 0.3;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}


* {
    font-family: "Roboto", sans-serif;
    font-weight: 50px;
    margin: 0;
}

header {
    position: absolute;
    z-index: 9999;
    height: 75px;
    width: 100%;
    border-bottom: white 0.5px;
    text-shadow: 1px 1px;
}

header h1 {
    font-size: 50px;
    padding: 15px 20px;
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    color: white;
}

nav a {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}
 
header, main {
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("images/wp9417490-4k-amazon-river-wallpapers.jpg");
    background-repeat: none;
    background-size: cover;
    color: white;
}

.welcome {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.356);
    text-shadow: 1px 1px;
    border-radius: 20px;
    animation: slideUp 0.75s linear 0.2s forwards;
    
}

main h1 {
    font-size: 70px;
}
