.calculator {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: orange;
}

#display {
    width: 100%;
    height: 50px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    border: none;

}